@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Kanit', sans-serif;

}

header{
    text-align: center;
    padding: 30px;
}

header h1{
    text-align: center;
    color: #E53170;
    font-size: 40px;
}

header p{
    padding: 30px;
    font-size: 20px;
}

body{
    width: 80%;
    margin: auto;
}

.col{
    float: left;
    width: calc( 100% / 3);
    padding: 20px;
}

img{
    width: 130px;
    height: 120px;
    float: left;
    padding-right: 20px;
}

.card{
    background-color: #0F0E17;
    color: white;
    line-height: 2em;
    box-shadow: 5px 5px 5px grey;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.card-text h3{
    padding-bottom: 10px;
    padding-top: 5px;
}

.email{
    color: #6AC3E4;
}

